# Phase 4



## Unsupervised ML (Clustering)



Note: This phase requires your general knowledge and thought process to merge the right datasets and the right columns. Collecting quality data is a key factor to create meaningful clusters and Analysis.



Assumption: You were given various crime datasets that contains all the DISTRICTS in each state and you were asked to provide the below data to the higher authorities for further action.



4.1  "Create 3 clusters as below.



1. Sensitive Area's



2. Moderate Area's



3. Peaceful Area's"



4.2  Create DataFrame for each cluster that shows data according to the areas.



4.3  "Analyse your clusters and prepare a report that explains all your observations.



Example - 



1. What is impacting more crimes in sensitive areas. 



2. What needs to be done to reduce crime. 



3. Most safe and unsafe districts.



4. Etc.......Anything that you observe (If you want, you can plot various graphs to analyze)"



4.4   Capstone project overall story in your own words. Min 1000 words.

# Unsupervised ML (Clustering)

<b>CONSIDERING THE DATABASES THAT CONTAINS THE DISTRICTS !!

In [2]:
import pandas as pd
district_wise=pd.read_csv("01_District_wise_crimes_committed_IPC_2001_2012.csv")

In [3]:
district_wise

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,0,6,2,...,1,186,0,2,0,1,0,44,392,787
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,0,7,17,...,20,632,0,7,2,5,0,219,1668,3494
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,21,818,0,9,2,6,0,263,2060,4281

<B> DROPPING SOME COLUMNS WHICH ARE NOT REQUIRED FOR OUR CLUSTERING ANALYSIS!!<BR>

In [6]:
district_wise=district_wise[['STATE/UT',
 'DISTRICT',
 'Year',
 'MURDER',
 'RAPE',
 'KIDNAPPING & ABDUCTION',
 'DACOITY',
 'ROBBERY',
 'BURGLARY',
 'RIOTS',
 'COUNTERFIETING',
 'ARSON',
 'HURT/GREVIOUS HURT']]

KeyError: "['Year'] not in index"

In [7]:
for i in range(len(district_wise['STATE/UT'])):
    if(district_wise['STATE/UT'][i]=='DELHI UT'):
        district_wise['STATE/UT'][i]='DELHI'

In [8]:
district_wise['STATE/UT'].unique()

array(['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR',
       'CHHATTISGARH', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH',
       'JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA',
       'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM',
       'NAGALAND', 'ODISHA', 'PUNJAB', 'RAJASTHAN', 'SIKKIM',
       'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 'UTTARAKHAND',
       'WEST BENGAL', 'A & N ISLANDS', 'CHANDIGARH', 'D & N HAVELI',
       'DAMAN & DIU', 'DELHI', 'LAKSHADWEEP', 'PUDUCHERRY'], dtype=object)

In [9]:
district_wise=district_wise[district_wise['DISTRICT']!='TOTAL']

In [10]:
districtwise_sc=pd.read_csv("02_01_District_wise_crimes_committed_against_SC_2001_2012.csv")

In [11]:
districtwise_sc['STATE/UT'].unique()

array(['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR',
       'CHHATTISGARH', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH',
       'JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA',
       'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM',
       'NAGALAND', 'ODISHA', 'PUNJAB', 'RAJASTHAN', 'SIKKIM',
       'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 'UTTARAKHAND',
       'WEST BENGAL', 'A & N ISLANDS', 'CHANDIGARH', 'D & N HAVELI',
       'DAMAN & DIU', 'DELHI', 'LAKSHADWEEP', 'PUDUCHERRY'], dtype=object)

In [12]:
districtwise_sc['TOTAL CRIMES AGAINST SC']=districtwise_sc.iloc[:,3:].sum(axis=1)

In [13]:
districtwise_sctot=districtwise_sc[['STATE/UT','DISTRICT','Year','TOTAL CRIMES AGAINST SC']]

In [14]:
districtwise_sctot

            STATE/UT       DISTRICT  Year  TOTAL CRIMES AGAINST SC
0     ANDHRA PRADESH       ADILABAD  2001                       55
1     ANDHRA PRADESH      ANANTAPUR  2001                      127
2     ANDHRA PRADESH       CHITTOOR  2001                      114
3     ANDHRA PRADESH       CUDDAPAH  2001                      100
4     ANDHRA PRADESH  EAST GODAVARI  2001                       89
...              ...            ...   ...                      ...
9013     LAKSHADWEEP    LAKSHADWEEP  2012                        0
9014     LAKSHADWEEP          TOTAL  2012                        0
9015      PUDUCHERRY       KARAIKAL  2012                        1
9016      PUDUCHERRY     PUDUCHERRY  2012                       23
9017      PUDUCHERRY          TOTAL  2012                       24

[9018 rows x 4 columns]

In [15]:
districtwise_sctot=districtwise_sctot[districtwise_sctot['DISTRICT']!='TOTAL']

In [16]:
districtwise_st=pd.read_csv("02_District_wise_crimes_committed_against_ST_2001_2012.csv")

In [17]:
districtwise_st['STATE/UT'].unique()

array(['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR',
       'CHHATTISGARH', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH',
       'JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA',
       'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM',
       'NAGALAND', 'ODISHA', 'PUNJAB', 'RAJASTHAN', 'SIKKIM',
       'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 'UTTARAKHAND',
       'WEST BENGAL', 'A & N ISLANDS', 'CHANDIGARH', 'D & N HAVELI',
       'DAMAN & DIU', 'DELHI', 'LAKSHADWEEP', 'PUDUCHERRY'], dtype=object)

In [18]:
districtwise_st=districtwise_st[districtwise_st['DISTRICT']!='TOTAL']

In [19]:
districtwise_st['TOTAL CRIMES AGAINST ST']=districtwise_st.iloc[:,3:].sum(axis=1)

In [20]:
districtwise_sttot=districtwise_st[['STATE/UT','DISTRICT','Year','TOTAL CRIMES AGAINST ST']]

In [21]:
districtwise_sttot

            STATE/UT       DISTRICT  Year  TOTAL CRIMES AGAINST ST
0     ANDHRA PRADESH       ADILABAD  2001                       18
1     ANDHRA PRADESH      ANANTAPUR  2001                       14
2     ANDHRA PRADESH       CHITTOOR  2001                        2
3     ANDHRA PRADESH       CUDDAPAH  2001                        4
4     ANDHRA PRADESH  EAST GODAVARI  2001                       14
...              ...            ...   ...                      ...
9010           DELHI            STF  2012                        0
9011           DELHI           WEST  2012                        0
9013     LAKSHADWEEP    LAKSHADWEEP  2012                        0
9015      PUDUCHERRY       KARAIKAL  2012                        0
9016      PUDUCHERRY     PUDUCHERRY  2012                        0

[8597 rows x 4 columns]

In [22]:
districtwise_child=pd.read_csv("03_District_wise_crimes_committed_against_children_2001_2012.csv")

In [23]:
districtwise_child['STATE/UT'].unique()

array(['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR',
       'CHHATTISGARH', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH',
       'JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA',
       'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM',
       'NAGALAND', 'ODISHA', 'PUNJAB', 'RAJASTHAN', 'SIKKIM',
       'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 'UTTARAKHAND',
       'WEST BENGAL', 'A & N ISLANDS', 'CHANDIGARH', 'D & N HAVELI',
       'DAMAN & DIU', 'DELHI', 'LAKSHADWEEP', 'PUDUCHERRY'], dtype=object)

In [24]:
districtwise_child=districtwise_child[districtwise_child['DISTRICT']!='TOTAL']

In [25]:
districtwise_child.rename(columns={"Total":"TOTAL CRIMES AGAINST CHILDREN"},inplace=True)

In [26]:
districtwise_child.columns

Index(['STATE/UT', 'DISTRICT', 'Year', 'Murder', 'Rape',
       'Kidnapping and Abduction', 'Foeticide', 'Abetment of suicide',
       'Exposure and abandonment', 'Procuration of minor girls',
       'Buying of girls for prostitution', 'Selling of girls for prostitution',
       'Prohibition of child marriage act', 'Other Crimes',
       'TOTAL CRIMES AGAINST CHILDREN'],
      dtype='object')

In [27]:
districtwise_childtot=districtwise_child[['STATE/UT','DISTRICT','Year','TOTAL CRIMES AGAINST CHILDREN']]

In [28]:
districtwise_childtot

            STATE/UT       DISTRICT  Year  TOTAL CRIMES AGAINST CHILDREN
0     ANDHRA PRADESH       ADILABAD  2001                              0
1     ANDHRA PRADESH      ANANTAPUR  2001                             66
2     ANDHRA PRADESH       CHITTOOR  2001                              0
3     ANDHRA PRADESH       CUDDAPAH  2001                              0
4     ANDHRA PRADESH  EAST GODAVARI  2001                              0
...              ...            ...   ...                            ...
9007           DELHI            STF  2012                              0
9008           DELHI           WEST  2012                            542
9010     LAKSHADWEEP    LAKSHADWEEP  2012                              0
9012      PUDUCHERRY       KARAIKAL  2012                              7
9013      PUDUCHERRY     PUDUCHERRY  2012                             25

[8603 rows x 4 columns]

In [29]:
districtwise_women=pd.read_csv("42_District_wise_crimes_committed_against_women_2001_2012.csv")

In [30]:
districtwise_women['STATE/UT'].unique()

array(['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR',
       'CHHATTISGARH', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH',
       'JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA',
       'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM',
       'NAGALAND', 'ODISHA', 'PUNJAB', 'RAJASTHAN', 'SIKKIM',
       'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 'UTTARAKHAND',
       'WEST BENGAL', 'A & N ISLANDS', 'CHANDIGARH', 'D & N HAVELI',
       'DAMAN & DIU', 'DELHI', 'LAKSHADWEEP', 'PUDUCHERRY'], dtype=object)

In [31]:
districtwise_women=districtwise_women[districtwise_women['DISTRICT']!='TOTAL']

In [32]:
districtwise_women['TOTAL CRIMES AGAINST WOMEN']=districtwise_women.iloc[:,3:].sum(axis=1)

In [33]:
districtwise_womentot=districtwise_women[['STATE/UT','DISTRICT','Year','TOTAL CRIMES AGAINST WOMEN']]

In [34]:
districtwise_womentot

            STATE/UT       DISTRICT  Year  TOTAL CRIMES AGAINST WOMEN
0     ANDHRA PRADESH       ADILABAD  2001                         454
1     ANDHRA PRADESH      ANANTAPUR  2001                         356
2     ANDHRA PRADESH       CHITTOOR  2001                         456
3     ANDHRA PRADESH       CUDDAPAH  2001                         278
4     ANDHRA PRADESH  EAST GODAVARI  2001                         475
...              ...            ...   ...                         ...
9010           DELHI            STF  2012                           0
9011           DELHI           WEST  2012                         739
9012     LAKSHADWEEP    LAKSHADWEEP  2012                           2
9014      PUDUCHERRY       KARAIKAL  2012                          11
9015      PUDUCHERRY     PUDUCHERRY  2012                          35

[8609 rows x 4 columns]

<B> MERGING THE ABOVE DATASETS!!<BR>

In [35]:
cluster=pd.merge(district_wise,districtwise_sctot,how='inner',left_on=['STATE/UT','DISTRICT','Year'],right_on=['STATE/UT','DISTRICT','Year']).merge(districtwise_sttot,how='inner',left_on=['STATE/UT','DISTRICT','Year'],right_on=['STATE/UT','DISTRICT','Year']).merge(districtwise_childtot,how='inner',left_on=['STATE/UT','DISTRICT','Year'],right_on=['STATE/UT','DISTRICT','Year']).merge(districtwise_womentot,how='inner',left_on=['STATE/UT','DISTRICT','Year'],right_on=['STATE/UT','DISTRICT','Year'])

KeyError: 'Year'

<B> GROUPING BY STATE/UT,DISTRICT AND SUMMING ALL THE CRIMES OVER THE YEARS!!

In [53]:
cluster=cluster.groupby(['STATE/UT','DISTRICT']).sum().reset_index().drop(['Year'],axis=1)

NameError: name 'cluster' is not defined

In [ ]:
cluster

## 4.1  CLUSTERING USING THE KMEANS!!

In [36]:
x=cluster.iloc[:,2:]

NameError: name 'cluster' is not defined

In [37]:
from sklearn.cluster import KMeans

In [38]:
kmeans=KMeans(n_clusters=3,random_state=0)

In [39]:
y_kmeans=kmeans.fit_predict(x)

NameError: name 'x' is not defined

## 4.2  Create DataFrame for each cluster that shows data according to the areas.

## REGION 1) Peaceful Area's!!<BR>

In [ ]:
peaceful_regions=cluster[y_kmeans==0]

In [ ]:
peaceful_regions

## REGION 2) MODERATE Area's!!<BR>

In [ ]:
moderate_regions=cluster[y_kmeans==1]

In [ ]:
moderate_regions

## REGION 3) SENSITIVE Area's!!<BR>

In [40]:
sensitive_regions=cluster[y_kmeans==2]

NameError: name 'cluster' is not defined

In [41]:
sensitive_regions

NameError: name 'sensitive_regions' is not defined

## 4.3.3  "Analyse your clusters and prepare a report that explains all your observations

<B> 10 MOST SAFE AREAS!!

In [42]:
peaceful_regions['OVERALL CRIME']=peaceful_regions.iloc[:,2:].sum(axis=1)

NameError: name 'peaceful_regions' is not defined

In [43]:
peaceful_regions.sort_values(by='OVERALL CRIME',ascending=True,inplace=True)

NameError: name 'peaceful_regions' is not defined

In [44]:
peaceful_regions.head(10).reset_index().drop(['index'],axis=1)

NameError: name 'peaceful_regions' is not defined

<B> 10 MOST  SENSITIVE AREAS!!

In [45]:
sensitive_regions['OVERALL CRIME']=sensitive_regions.iloc[:,2:].sum(axis=1)

NameError: name 'sensitive_regions' is not defined

In [46]:
sensitive_regions.sort_values(by='OVERALL CRIME',ascending=False,inplace=True)

NameError: name 'sensitive_regions' is not defined

In [47]:
sensitive=sensitive_regions.reset_index().drop(['index'],axis=1).head(10)

NameError: name 'sensitive_regions' is not defined

In [48]:
sensitive

NameError: name 'sensitive' is not defined

In [49]:
plt.figure(figsize=(8,8),facecolor='Yellow')
sns.barplot(x=sensitive['DISTRICT'],y=sensitive['OVERALL CRIME'])
plt.xticks(rotation=90)
plt.xlabel("DIFFERENT STATES/UTs")
plt.title("TEN MOST SENSITIVE AREAs(DISTRICTS)!!")
plt.grid()
plt.show()

NameError: name 'plt' is not defined

## 4.3.1  What is impacting more crimes in sensitive areas?

In [50]:
sensitive_reg=sensitive_regions.reset_index().drop(['index'],axis=1).head(50)

NameError: name 'sensitive_regions' is not defined

In [51]:
plt.figure(figsize=(25,90))
sns.pairplot(sensitive_reg)
plt.xticks(size=20)
plt.show()

NameError: name 'plt' is not defined

In [52]:
plt.figure(figsize=(15,15))
sns.heatmap(sensitive_reg.iloc[:,2:].corr(),annot=True)
plt.title("HEATMAP FOR DIFFERENT FEATURES SHOWING THE CORRELATION!!")
plt.show()

NameError: name 'plt' is not defined

## 4.3.4  Capstone project overall story in your own words. Min 1000 words.

India, with a population exceeding 1.38 billion, faces significant challenges related to crime. According to the National Crime Records Bureau (NCRB), 2.27 million crime cases were reported in 2011, a 4.54% decrease from the previous year. Crimes against women, including rape, sexual harassment, and domestic violence, remain a major concern. In 2011, there were numerous cases of crimes against women, with 11.04% related to rape or sexual assault. Despite stricter laws and increased public awareness, crimes against women persist.

Crimes against children, such as rape, kidnapping, murder, and trafficking, are also pressing issues. In 2011, there were 33,049 reported cases of crimes against children, with 21.51% related to rape or sexual assault and 46.24% involving murder. There has been a 254.86% increase in crimes against children from 2001 to 2011. Madhya Pradesh recorded the highest number of cases (40,217), followed by Uttar Pradesh (29,969) and Maharashtra (27,845).

In 2011, 33,718 cases were recorded against Scheduled Castes (SC). The involvement of children in crime is a serious threat to society, often leading to their manipulation and exploitation. Stricter laws are needed to protect children from these dangers. In 2001, there were 23,597 cases against SCs, increasing to 27,471 in 2011. Madhya Pradesh had the highest number of cases (61,939), while Manipur had the least.

Human rights violations by the police are also significant. In 2009, the highest number of cases (664) were recorded, with an 82.815% drop from 2001 to 2011. Chhattisgarh had the highest number of human rights violation cases during this period. Additionally, the police face assaults from rioters, insurgents, and during border operations. Uttar Pradesh recorded 2,150 cases from 2001 to 2011, with Jammu and Kashmir holding the fourth position with 1,142 cases. There was nearly a 5% increase in such cases from 2001 to 2011. Notably, Jammu and Kashmir saw an 83.33% decrease in assaults and killings of police/army personnel from 300 cases in 2001 to 50 in 2010.

Maharashtra, Uttar Pradesh, and Madhya Pradesh had the highest combined cases of dacoity, robbery, burglary, and theft, with counts being Maharashtra (717,452), Madhya Pradesh (389,927), and Uttar Pradesh (366,166). Overall, the increase in reported crimes highlights significant challenges. The government must enhance law enforcement, raise public awareness, and address socio-economic factors contributing to crime.

Addressing corruption within the police force is also crucial. Rampant corruption in many parts of India leads to a lack of accountability and trust in the police, causing individuals to take matters into their own hands. Improved police training is essential for better understanding roles, responsibilities, and handling various situations effectively. Training should also focus on sensitivity and understanding in difficult situations.

Furthermore, more resources should be allocated to increasing public awareness about crime prevention, which is key to reducing crime rates. With these measures, India can progress towards reducing crime and improving safety for its citizens.